/********************************
********************************
          begin tabs
*********************************
********************************/
#tabGeograficContingut, #tabSubjecteContingut, #tabUsuariContingut{
  padding: 20px;
  text-align: justify;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  border-top-color: transparent;
}
input img{
  margin-top: 1px;
    margin-left: 10px;
    width: 25px;
}

.entradaCercador{
  background-color: #F4E48A;
}
.entradaDadesManteniment{
  margin-top: -10px;
}
