.cercaSubjecte{
  width: 70px;
  margin-left: 10px;
}
.dadesCercaSubjecte{
  width: 280px;
}
.entradaProductesFactura td:nth-child(5n), .entradaProductesFactura td:nth-child(6n){
  width: 80px;
  text-align: right;
}
#entradaClient table tr{
  height: 35px;
}
#entradaClient{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  background-color: #E9E9E9;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}