input img{
  margin-top: 1px;
    margin-left: 10px;
    width: 25px;
}
.columnaBotons img{
  margin-top: 1px;
  margin-left: 10px;
  width: 25px;
}
.columnaBotons{
  width: 30px;
  text-align: right;
}
.entradaCercador{
  background-color: #F4E48A;
}
.entradaDadesManteniment{
  margin-top: -10px;
}
